Data/Processed/*
Data/Unprocessed/*
Data/Exceptions/*
Data/Active/*
Data/Inactive/*
Data/Pickles/CIKs*
Data/2001/*
testdoc
*.csv
*.pyc
*.log
TestData/*
good_CIK.txt
Utilities/*.dat
Utilities/generate_CIKTicker_mapping.py
